<% if(signInMessage.length>0){%>
<div class="alert alert-danger text-center" role="alert">
  <%=signInMessage%>
</div>
<%}%> <% if(signInPassword.length>0){%>
<div class="alert alert-danger text-center" role="alert">
  <%=signInPassword%>
</div>
<%}%>
